name: custom solutions

on: push

jobs:
  tests:
    name: Run Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install dependencies
        uses: ./.github/actions/install_dependecies

      - name: Run Playwright tests
        run: npx playwright test
